*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: lightcoral; */
  color: #fff;
}

body{
  background-image: url('https://i.pinimg.com/originals/1a/7d/cc/1a7dcc374628bc21f6ef890463a77eae.png');
}